<div class="card flex-grow-0 card-fullsize">
  <div class="card-header bg-dark">
    <div class="row">
      <div class="col col-md-auto text-white title-col">
        {{title}}
      </div>
      <div class="col">
        <ul *ngIf="tabs.length > 0" class="nav nav-tabs card-header-tabs pull-left" id="myTab" role="tablist">
          <li *ngFor="let tab of tabs" class="nav-item">
            <a [ngClass]="{'nav-link': true, 'active': tab.active, 'text-white': !tab.active}" 
              data-toggle="tab" role="tab" (click)="selectTab(tab)">
              {{tab.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-wait-spinner [show]="isLoading">
    <div class="card-body flex-column scrollable d-flex flex-grow-1">
      <ng-content></ng-content>
    </div>
  </app-wait-spinner>
</div>