:host {
  display: flex;
  flex-grow: 1;
}

:host >>> .mat-cell, :host >>> .mat-header-cell {
  padding: 0.5rem 1rem!important;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

:host >>> .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-column-edit {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

:host >>> .mat-sort-header-container {
  font-size: 1rem;
}

.mat-paginator, .mat-table {
  border : 1px solid rgba(0, 0, 0, 0.12);
}