<app-tab-card [title]="('SearchCategories' | translate)">
  <app-search-grid matSort [columns]="columns" [searchFunction]="searchFunction">
    <ng-container matColumnDef="new">
      <th mat-header-cell *matHeaderCellDef [style.width]="'100px'">
        <button class="btn grid-new-button" (click)="new()">{{'Actions.New' | translate}}</button>
      </th>
      <td mat-cell *matCellDef="let category"></td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FinancialCategory.Title' | translate}} </th>
      <td mat-cell *matCellDef="let category"> {{category.title}} </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FinancialCategory.Value' | translate}} </th>
      <td mat-cell *matCellDef="let category"> {{category.value}} </td>
    </ng-container>
    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FinancialCategory.Items' | translate}} </th>
      <td mat-cell *matCellDef="let category"> {{category.items.length}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef [style.width]="'100px'"></th>
      <td mat-cell *matCellDef="let category" [style.width]="'100px'">
        <button class="btn grid-edit-button" (click)="edit(category)">{{'Actions.Edit' | translate}}</button>
      </td>
    </ng-container> 
    <ng-container matColumnDef="add-item">
      <th mat-header-cell *matHeaderCellDef [style.width]="'140px'"></th>
      <td mat-cell *matCellDef="let category" [style.width]="'140px'">
        <button class="btn grid-new-button" (click)="addItem(category)">{{'Actions.AddItem' | translate}}</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef [style.width]="'100px'"></th>
      <td mat-cell *matCellDef="let category" [style.width]="'100px'">
        <button class="btn grid-delete-button" (click)="delete(category)">{{'Actions.Delete' | translate}}</button>
      </td>
    </ng-container>
  </app-search-grid>
  <div class="card-footer d-flex flex-row-reverse p-3 border-top">
    <button type="submit" class="btn btn-primary pl-3 pr-3 pt-2 pb-2 ml-2 mr-2" (click)="saveChanges()">Save</button>
  </div>
</app-tab-card>