<div class="input-group p-3">
  <span [style.width]="captionWidth + 'px'" class="input-group-text bg-white" style="border: none;">
    {{caption}}
  </span>
  <app-error-notification [error]="error"></app-error-notification>
  <mat-select class="w-100" [(value)]="selectedValue" [disabled]="!isEnabled"
    [ngClass]="{'form-control': true, 'error': this.error}">
    <mat-option *ngFor="let option of options;" 
      [value]="option.editValue">
      {{option.displayValue}}
    </mat-option>
  </mat-select>
</div>
