<app-edit-dialog-content (close)="close()" (save)="save()" 
  (saveAndClose)="saveAndClose()" [title]="title">
  <form class="d-flex flex-column flex-fill ml-2" body>
    <h2 class="ml-3 mb-2 mt-3">{{'Title' | translate}}</h2>
    <app-text-edit [(value)]="_entity.title" [maxLength]="30" [validator]="titleValidator"
      [captionWidth]="100" [caption]="('FinancialItem.Title' | translate)">
    </app-text-edit>
    <h2 class="ml-3 mb-2 mt-3">{{'Properties' | translate}}</h2>
    <div class="d-flex flex-column fullscreen-row">
      <div class="d-flex flex-column f-col-50">
        <app-text-edit [captionWidth]="100" [maskKind]="maskKind" [validator]="valueValidator"
          [caption]="('FinancialItem.Value' | translate)" [(value)]="value">
        </app-text-edit>
        <app-date-edit [captionWidth]="100" [caption]="('FinancialItem.Due' | translate)" 
          (dateChanged)="handleDateChanged($event)"
          [selectedDate] ="_entity.dueDate">
        </app-date-edit>
      </div>
      <div class="d-flex flex-column f-col-50">
        <app-combo-edit [captionWidth]="100" 
          [caption]="('FinancialItem.Direction' | translate)"
          [enumType]="directionKindType"
          (selectedValueChanged)="onDirectionKindChanged($event)"
          [selectedValue]="_entity.direction">
        </app-combo-edit>     
        <app-combo-edit [captionWidth]="100" 
          [caption]="('FinancialItem.OccurenceKind' | translate)"
          [enumType]="occurenceKindType"
          (selectedValueChanged)="onOccurenceKindChanged($event)"
          [selectedValue]="_entity.occurenceKind">
        </app-combo-edit>
      </div>
    </div>
  </form>
  <button class="btn btn-primary pl-3 pr-3 pt-2 pb-2 ml-2 mr-2" footer>Add Attachment</button>
</app-edit-dialog-content>