.input-with-suffix {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-right: none;
}

.suffix {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.suffix-inner {
  border-left: 1px solid #ced4da;
  padding: 0rem 0.5rem;
  height: 100%;
}

/deep/ .mat-icon-button {
  height: 24px !important;
  width: 24px !important;
}

/deep/ svg {
  height: 30px !important;
  width: 30px !important;
  padding-bottom: 5px;
  padding-right: 5px;
}

.form-control:disabled {
  background-color: unset!important;
}