<div class="input-group p-3">
  <span [style.width]="captionWidth + 'px'" class="input-group-text bg-white" style="border: none;">
    {{caption}}
  </span>
  <app-error-notification [error]="error"></app-error-notification>
  <input id="dateInput" [min]="minDate" [max]="maxDate"
    [ngClass]="{'form-control': true, 'input-with-suffix': true, 'error': this.error}" 
    [value]="selectedDate" [matDatepicker]="picker" [placeholder]="error"
    (dateInput)="handleDateChange($event.target.value)" 
    (dateChange)="handleDateChange($event.target.value)"
    disabled>
    <div [ngClass]="{'error': error, 'suffix m-0 p-0': true}">
      <div [ngClass]="{'suffix-inner': true, 'error': error}">
        <mat-datepicker-toggle id="toggle" 
          matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker [startView]="startView" 
          id="datePicker" disabled="false"
          [startAt]="startDate" #picker>
        </mat-datepicker>
      </div>
    </div>
</div>
