.suffix-inner {
  border-left: 1px solid #ced4da;
  padding: 0rem 0.5rem;
  height: 100%;
}

:host >>> .mat-icon-button {
  height: 24px !important;
  width: 24px !important;
}

:host >>> svg {
  height: 30px !important;
  width: 30px !important;
  padding-bottom: 5px;
  padding-right: 5px;
}

.form-control:disabled {
  background-color: unset!important;
}