<app-tab-card [title]="title">
  <app-tab [title]="('MainProperties' | translate)">
    <h2 class="ml-3 mb-2 mt-3">{{'Title' | translate}}</h2>
    <app-text-edit 
      [captionWidth]="100" [caption]="('FinancialCategory.Title' | translate)">
    </app-text-edit>
    <h2 class="ml-3 mb-2 mt-3">{{'FinancialCategory.Items' | translate}}</h2>
    <app-data-grid matSort [columns]="itemColumns" [dataSource]="dataSource" #itemGrid>
      <ng-container matColumnDef="new">
        <th mat-header-cell *matHeaderCellDef [style.width]="'100px'">
          <button class="btn grid-new-button" (click)="newItem()">{{'Actions.New' | translate}}</button>
        </th>
        <td mat-cell *matCellDef="let item"></td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FinancialItem.Title' | translate}}</th>
        <td mat-cell *matCellDef="let item"> {{item.title}} </td>
      </ng-container>
      <ng-container matColumnDef="direction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FinancialItem.Direction' | translate}} </th>
        <td mat-cell *matCellDef="let item"> {{item.direction}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FinancialItem.Value' | translate}}</th>
        <td mat-cell *matCellDef="let item"> {{item.value}} </td>
      </ng-container>
      <ng-container matColumnDef="due">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'FinancialItem.Due' | translate}} </th>
        <td mat-cell *matCellDef="let item"> {{item.dueDate}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef [style.width]="'100px'"></th>
        <td mat-cell *matCellDef="let item" [style.width]="'100px'">
          <button class="btn grid-edit-button" (click)="editItem(item)">{{'Actions.Edit' | translate}}</button>
        </td>
      </ng-container> 
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef [style.width]="'100px'"></th>
        <td mat-cell *matCellDef="let item" [style.width]="'100px'">
          <button class="btn grid-delete-button" (click)="deleteItem(item)">{{'Actions.Delete' | translate}}</button>
        </td>
      </ng-container>
    </app-data-grid>
  </app-tab>
  <app-tab [title]="('FinancialCategory.Attachments' | translate)">
    <h2 class="ml-3 mb-2 mt-3">{{'FinancialCategory.Attachments' | translate}}</h2>
    <app-data-grid matSort [columns]="attachmentColumns" [dataSource]="attachmentsDataSource" #attachmentGrid>
      <ng-container matColumnDef="new">
        <th mat-header-cell *matHeaderCellDef [style.width]="'100px'">
          <button class="btn grid-new-button" (click)="newAttachment()">{{'Actions.New' | translate}}</button>
        </th>
        <td mat-cell *matCellDef="let attachment"></td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'AttachementItem.Title' | translate}}</th>
        <td mat-cell *matCellDef="let attachment"> {{attachment.title}} </td>
      </ng-container>
      <ng-container matColumnDef="addedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'AttachementItem.AddedDate' | translate}}</th>
        <td mat-cell *matCellDef="let attachment"> {{attachment.addedDate}} </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef [style.width]="'100px'"></th>
        <td mat-cell *matCellDef="let attachment" [style.width]="'100px'">
          <button class="btn grid-delete-button" (click)="deleteAttachment(item)">{{'Actions.Delete' | translate}}</button>
        </td>
      </ng-container>
    </app-data-grid>
  </app-tab>
</app-tab-card>