<div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
    <div class="authentication-container">
      <div>
        <h3 style="font-weight:bold; color:#343a40">Signup</h3>
      </div>
      <br/>
      <div class="col-12 row">
        <input placeholder="email" class="form-control col-12" id="email" type="text" formControlName="email" required>
      </div>
      <br/>
      <div class="col-12 row">
        <input type="password" placeholder="password" class="form-control col-12" id="password" formControlName="password" required>
      </div>
      <br/>
      <div class="col-12 row">
        <input type="password" placeholder="confirm password" class="form-control col-12" id="confirmPassword" formControlName="confirmPassword" required>
      </div>
      <br/>
      <div class="col-12 row d-flex align-items-center">
        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-primary" value="Login"/>
        <a href="/login" class="col">Login</a>
      </div>
    </div>
  </form>
</div>