<div class="input-group p-3">
  <span [style.width]="captionWidth + 'px'" class="input-group-text bg-white" style="border: none;">
    {{caption}}
  </span>
  <input [maxlength]="maxlength" autocomplete="off" type="text" [mask]="mask"
    [(ngModel)]="value" [disabled]="!isEnabled" [dropSpecialCharacters]="false"
    [className]="suffix != null? 'form-control input-with-suffix' : 'form-control'"/>
  <div class="suffix m-0 p-0" *ngIf="suffix != null">
    <div class="suffix-inner">
      {{suffix}}
    </div>
  </div>
</div>